@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  background-color: rgb(1, 1, 10);
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --cinza-claro: #686868;
  --cinza-medio: #252525;
  --cinza-escuro: #161616;
  --verde-midia: rgb(7, 58, 15);
  --vermelho-midia: #2e0404;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
